In [1]:
import pandas as pd

In [2]:
# Create a Python dictionary with data

data_dict_1 = {"Name": ["Alice", "Bob", "Charlie"],
               "Age": [25, 30, 22],
               "City": ["New York", "San Francisco", "Los Angeles"]}

In [3]:
# Use the dictionary to create a Pandas DataFrame
df_1=pd.DataFrame(data_dict_1)

In [4]:
# Print the resulting DataFrame
print(df_1)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

In [5]:
# Create a Python dictionary with data
data_dict_2 = {"Name": ["Alice", "Bob", "Charlie"],
               "Age": [25, 30, 22],
               "City": ["New York", "San Francisco", "Los Angeles"]}

In [6]:
# Specify an index for the DataFrame
index_2 = ["Person1", "Person2", "Person3"]

In [7]:
# Use the dictionary and index to create a Pandas DataFrame
df_2 = pd.DataFrame(data_dict_2, index=index_2)

In [8]:
# Print the resulting DataFrame
print(df_2)

            Name  Age           City
Person1    Alice   25       New York
Person2      Bob   30  San Francisco
Person3  Charlie   22    Los Angeles

In [9]:
#Task 2: Creating DataFrame from Python Lists
# Create a list of lists with data
data_list_1 = [["Alice", 25, "New York"],
               ["Bob", 30, "San Francisco"],
               ["Charlie", 22, "Los Angeles"]]

In [10]:
# Specify column names for the DataFrame
columns_1 = ["Name", "Age", "City"]

In [22]:
# Use the list of lists and columns to create a Pandas DataFrame
df_3=pd.DataFrame(data_list_1,columns=columns_1)

In [24]:
# Print the resulting DataFrame
print(df_3)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

In [26]:
#Task 3: Creating DataFrame from Two-dimensional NumPy Arrays
#Example 3.1
import pandas as pd
import numpy as np

# Create a two-dimensional NumPy array with data
data_array_1 = np.array([[1, "Alice", 25],
                         [2, "Bob", 30],
                         [3, "Charlie", 22]])

# Specify column names for the DataFrame
columns_2 = ["ID", "Name", "Age"]

# Use the NumPy array and columns to create a Pandas DataFrame
df_4 = pd.DataFrame(data_array_1, columns=columns_2)

# Print the resulting DataFrame
print(df_4)

  ID     Name Age
0  1    Alice  25
1  2      Bob  30
2  3  Charlie  22