In [1]:
# Example 1.1: Slicing by rows
# importing pandas library
import pandas as pd

In [3]:
# Initializing the nested list with Data set
employee_list = [['James', 36, 75, 5428000],
               ['Villers', 38, 74, 3428000],
               ['VKole', 31, 70, 8428000],
               ['Smith', 34, 80, 4428000],
               ['Gayle', 40, 100, 4528000],
               ['Rooter', 33, 72, 7028000],
               ['Peterson', 42, 85, 2528000],
               ['John', 41, 85, 1528000],
]

In [11]:
#creating a pandas dataframe
df = pd.DataFrame(employee_list, columns=['Name', 'Age', 'Weight', 'Salary'])
print(' ------data frame before slicing-----')
print(df)

 ------data frame before slicing-----
       Name  Age  Weight   Salary
0     James   36      75  5428000
1   Villers   38      74  3428000
2     VKole   31      70  8428000
3     Smith   34      80  4428000
4     Gayle   40     100  4528000
5    Rooter   33      72  7028000
6  Peterson   42      85  2528000
7      John   41      85  1528000

In [13]:
# Slicing rows in data frame
df1 = df.iloc[0:4]
print(' ------data frame after slicing----')
print(df1)

 ------data frame after slicing----
      Name  Age  Weight   Salary
0    James   36      75  5428000
1  Villers   38      74  3428000
2    VKole   31      70  8428000
3    Smith   34      80  4428000